<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12 mx-auto">
      <h3>ホーム</h3>
      <div class="card-list-container hover-zoom jscroll-div">
        <% @diaries.each do |diary| %>
          <% if signed_in? %>
            <% if diary.user == current_user || diary.public_range == 'everyone' %>
              <%= render 'index', diary: diary %>
            <% elsif current_user.ff?(diary.user) && diary.public_range == 'in_ff' %>
              <%= render 'index', diary: diary %>
            <% end %>
          <% elsif diary.public_range == 'everyone' %>
            <%= render 'index', diary: diary %>
          <% end %>
        <% end %>
      <%= paginate @diaries %>
      </div>
    </div>
  </div>
</div>
