<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <div class="card-list-container jscroll-div">
        <% @diaries.each do |diary| %>
          <% if signed_in? %>
            <% if diary.user == current_user || diary.public_range == 2 %>
              <%= render 'index', diary: diary %>
            <% elsif current_user.ff?(diary.user) && diary.public_range == 1 %>
              <%= render 'index', diary: diary %>
            <% end %>
          <% elsif diary.public_range == 2 %>
            <%= render 'index', diary: diary %>
          <% end %>
        <% end %>
      <%= paginate @diaries %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).on('turbolinks:load', function() {
    $('.jscroll-div').jscroll({ // 追加したdivのclass名と合わせる
      contentSelector: '.jscroll-div',
      autoTrigger: true,
      nextSelector: '.next a',  // 次ページリンクのセレクタ
      loadingHtml: '読み込み中',
      padding: 20
    });
  });
</script>
<style>
  .pagination {
    display: none;
  }
</style>