<% if activities.present? %>
  <% activities.each do |activity| %>
    <%= link_to read_user_activity_path(current_user.name_id,activity), method: :patch, class: 'text-dark' do %>
      <div class="card card-index mx-auto <%if activity.read == false%>bg-light<%end%>" >
        <div class="card-body">
          <div class="row col-12">
            <%= render "message", activity: activity %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate activities %>
<% else %>
  <p>通知はありません</p>
<% end %>