<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-sm-12 mx-auto">
      <div class="row mx-2">
        <h4 class="m-1 activity_word">未読通知</h4>
        <span class="activity_view_btn"><%= link_to 'すべて表示', all_user_activities_path(current_user.name_id),remote: true, class: 'btn btn-outline-primary rounded-pill' %></span>
        <span class="read_btn ml-auto">
          <%= render 'read_btn', unread: @unread %>
        </span>
      </div>
      <div class="card-list-container jscroll-div mt-2">
        <%= render 'activities', activities: @activities %>
      </div>
    </div>
  </div>
</div>