@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'loading';

.pagination {
  display: none;
}

.favorite{
  position: relative;
  left: 100px;
  bottom: 45px;
  margin-bottom: -30px;
  transition:transform 0.3s;
}

.favorite:hover{
  transform:scale(1.2);
}

.card-index {
    transition:background-color 0.3s;
}

.card-index:hover {
    background-color:#f2f1f1;
}

.border-primary {
  box-shadow:0 0 7px rgb(0, 0, 255, 0.5), 0 2px 5px rgba(0, 0, 0, 0.3);
}

.border-danger {
  box-shadow:0 0 7px rgb(255, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.3);
}

.border-secondary {
  box-shadow:0 0 7px rgb(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.3);
}

.sidebar-fixed {
  position: sticky;
  top: 150px;
}

.btn_icon_none {
  opacity: 0;
  position: absolute;
}