@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'loading';
@import 'history';
@import 'modal';
@import 'search';
@import 'flash';

.header-color, .form-color {
  background-color: #f4e1cd;
  .btn:not(:hover) {
    background-color: #ffffff;
  }
}
.header-color {
  .btn:hover {
    background-color: #cbb7aa;
  }
}

.pagination {
  display: none;
}

.favorite {
  transition:transform 0.3s;
}

.favorite-position{
  position: relative;
  left: 10%;
  bottom: 61px;
  margin-bottom: -56px;
  div {
    padding: 1em;
  }
}

.favorite:hover{
  transform:scale(1.2);
}

.card-index {
  transition:background-color 0.3s;
}

.card-index:hover {
  background-color:#f2f1f1;
}

.border-primary {
  box-shadow: 0px 0px 7px rgb(0, 0, 255, 0.5);
}

.border-danger {
  box-shadow: 0px 0px 7px rgb(255, 0, 0, 0.5);
}

.border-secondary {
  box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.5);
}

.sidebar-fixed {
  position: sticky;
  top: 150px;
}

.btn_icon_none {
  opacity: 0;
  position: absolute;
}

.text-line {
  display: flex;
  align-items: center; /* 垂直中心 */
  justify-content: center; /* 水平中心 */
}

.text-line:before, .text-line:after {
  border-top: 1px solid;
  content: "";
  width: 3em;
}

.text-line:before {
  margin-right: 1em; /* 文字の右隣 */
}
.text-line:after {
  margin-left: 1em; /* 文字の左隣 */
}

.new-diary-btn {
  background-color: #f4e1cd;
  position:fixed;
  right:50px;
  bottom:50px;
  opacity:0.7;
}
.new-diary-btn:hover{
  opacity:1;
}