.search{
  box-sizing: border-box;
  position: relative;
  border: 2px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 245px;
  overflow: hidden;
  background-color: #fff;
}
.search input[type="text"]{
  border: none;
  height: 1.0em;
}
.search input[type="text"]:focus {
  outline: 0;
}
.search-submit{
  border: none;
  background: #fff;
  color: #999;
  outline : none;
}
