<div class="date">
  <span class="date-year"><%= diary.created_at.year %></span><span class="date-month"><%= diary.created_at.month %></span><span class="date-day"><%= diary.created_at.day %></span>
</div>