<div class="container">
  <div class="col-10 row mx-auto">
    <div class="container jscroll-div">
      <% @users.each do |user| %>
        <%= render 'index', user: user %>
      <% end %>
      <%= paginate @users %>
    </div>
  </div>
</div>