  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fluid">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">カレンダー検索</h4>
        </div>
        <div class="modal-body">
          <div class="col-12 form-color">
            <div class="card-body">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          <button type="button" class="btn btn-danger">検索</button>
        </div>
      </div>
    </div>
  </div>